In [1]:
from tensorflow import keras
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_csv('us-counties.csv')

# convert dates to indeces
dates = raw_data['date'].tolist()
seen = set()
seen_add = seen.add
unique_dates = [x for x in dates if not(x in seen or seen_add(x))]
date_to_index = {date: idx for idx, date in enumerate(unique_dates)}

date_to_index

{'2020-01-21': 0,
 '2020-01-22': 1,
 '2020-01-23': 2,
 '2020-01-24': 3,
 '2020-01-25': 4,
 '2020-01-26': 5,
 '2020-01-27': 6,
 '2020-01-28': 7,
 '2020-01-29': 8,
 '2020-01-30': 9,
 '2020-01-31': 10,
 '2020-02-01': 11,
 '2020-02-02': 12,
 '2020-02-03': 13,
 '2020-02-04': 14,
 '2020-02-05': 15,
 '2020-02-06': 16,
 '2020-02-07': 17,
 '2020-02-08': 18,
 '2020-02-09': 19,
 '2020-02-10': 20,
 '2020-02-11': 21,
 '2020-02-12': 22,
 '2020-02-13': 23,
 '2020-02-14': 24,
 '2020-02-15': 25,
 '2020-02-16': 26,
 '2020-02-17': 27,
 '2020-02-18': 28,
 '2020-02-19': 29,
 '2020-02-20': 30,
 '2020-02-21': 31,
 '2020-02-22': 32,
 '2020-02-23': 33,
 '2020-02-24': 34,
 '2020-02-25': 35,
 '2020-02-26': 36,
 '2020-02-27': 37,
 '2020-02-28': 38,
 '2020-02-29': 39,
 '2020-03-01': 40,
 '2020-03-02': 41,
 '2020-03-03': 42,
 '2020-03-04': 43,
 '2020-03-05': 44,
 '2020-03-06': 45,
 '2020-03-07': 46,
 '2020-03-08': 47,
 '2020-03-09': 48,
 '2020-03-10': 49,
 '2020-03-11': 50,
 '2020-03-12': 51,
 '2020-03-13': 52,
 '2020-03-14': 53,
 '2020-03-15': 54,
 '2020-03-16': 55,
 '2020-03-17': 56,
 '2020-03-18': 57,
 '2020-03-19': 58,
 '2020-03-20': 59,
 '2020-03-21': 60,
 '2020-03-22': 61,
 '2020-03-23': 62,
 '2020-03-24': 63,
 '2020-03-25': 64,
 '2020-03-26': 65,
 '2020-03-27': 66,
 '2020-03-28': 67,
 '2020-03-29': 68,
 '2020-03-30': 69,
 '2020-03-31': 70,
 '2020-04-01': 71,
 '2020-04-02': 72,
 '2020-04-03': 73,
 '2020-04-04': 74,
 '2020-04-05': 75,
 '2020-04-06': 76,
 '2020-04-07': 77,
 '2020-04-08': 78,
 '2020-04-09': 79,
 '2020-04-10': 80,
 '2020-04-11': 81,
 '2020-04-12': 82,
 '2020-04-13': 83,
 '2020-04-14': 84,
 '2020-04-15': 85,
 '2020-04-16': 86,
 '2020-04-17': 87,
 '2020-04-18': 88,
 '2020-04-19': 89,
 '2020-04-20': 90,
 '2020-04-21': 91,
 '2020-04-22': 92,
 '2020-04-23': 93,
 '2020-04-24': 94,
 '2020-04-25': 95,
 '2020-04-26': 96,
 '2020-04-27': 97,
 '2020-04-28': 98,
 '2020-04-29': 99,
 '2020-04-30': 100,
 '2020-05-01': 101,
 '2020-05-02': 102,
 '2020-05-03': 103,
 '2020-05-04': 104,
 '2020-05-05': 105,
 '2020-05-06': 106,
 '2020-05-07': 107,
 '2020-05-08': 108,
 '2020-05-09': 109,
 '2020-05-10': 110,
 '2020-05-11': 111,
 '2020-05-12': 112,
 '2020-05-13': 113,
 '2020-05-14': 114,
 '2020-05-15': 115,
 '2020-05-16': 116,
 '2020-05-17': 117,
 '2020-05-18': 118,
 '2020-05-19': 119,
 '2020-05-20': 120,
 '2020-05-21': 121,
 '2020-05-22': 122,
 '2020-05-23': 123,
 '2020-05-24': 124,
 '2020-05-25': 125,
 '2020-05-26': 126,
 '2020-05-27': 127,
 '2020-05-28': 128,
 '2020-05-29': 129,
 '2020-05-30': 130,
 '2020-05-31': 131,
 '2020-06-01': 132,
 '2020-06-02': 133,
 '2020-06-03': 134,
 '2020-06-04': 135,
 '2020-06-05': 136,
 '2020-06-06': 137,
 '2020-06-07': 138,
 '2020-06-08': 139,
 '2020-06-09': 140,
 '2020-06-10': 141,
 '2020-06-11': 142,
 '2020-06-12': 143,
 '2020-06-13': 144,
 '2020-06-14': 145,
 '2020-06-15': 146,
 '2020-06-16': 147,
 '2020-06-17': 148,
 '2020-06-18': 149,
 '2020-06-19': 150,
 '2020-06-20': 151,
 '2020-06-21': 152,
 '2020-06-22': 153,
 '2020-06-23': 154,
 '2020-06-24': 155,
 '2020-06-25': 156,
 '2020-06-26': 157,
 '2020-06-27': 158,
 '2020-06-28': 159,
 '2020-06-29': 160,
 '2020-06-30': 161,
 '2020-07-01': 162,
 '2020-07-02': 163,
 '2020-07-03': 164,
 '2020-07-04': 165,
 '2020-07-05': 166,
 '2020-07-06': 167,
 '2020-07-07': 168,
 '2020-07-08': 169,
 '2020-07-09': 170,
 '2020-07-10': 171,
 '2020-07-11': 172,
 '2020-07-12': 173,
 '2020-07-13': 174,
 '2020-07-14': 175,
 '2020-07-15': 176,
 '2020-07-16': 177,
 '2020-07-17': 178,
 '2020-07-18': 179,
 '2020-07-19': 180,
 '2020-07-20': 181,
 '2020-07-21': 182,
 '2020-07-22': 183,
 '2020-07-23': 184,
 '2020-07-24': 185,
 '2020-07-25': 186,
 '2020-07-26': 187,
 '2020-07-27': 188}

In [3]:
raw_data['date_index'] = raw_data.apply(lambda row: date_to_index[row['date']], axis=1)

In [5]:
cols = ['date_index', 'fips', 'cases', 'deaths']
data = raw_data[cols]
data

        date_index     fips  cases  deaths
0                0  53061.0      1       0
1                1  53061.0      1       0
2                2  53061.0      1       0
3                3  17031.0      1       0
4                3  53061.0      1       0
...            ...      ...    ...     ...
376329         188  56037.0    221       2
376330         188  56039.0    292       1
376331         188  56041.0    235       0
376332         188  56043.0     44       5
376333         188  56045.0      5       0

[376334 rows x 4 columns]

In [ ]:
data.to_csv()