In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv('us-counties.csv')
raw_data = raw_data[pd.notna(raw_data['fips'])]
# convert dates to indeces
dates = raw_data['date'].tolist()
seen = set()
seen_add = seen.add
unique_dates = [x for x in dates if not(x in seen or seen_add(x))]
date_to_index = {date: idx for idx, date in enumerate(unique_dates)}

"""fips = raw_data['fips'].tolist()
seen = set()
seen_add = seen.add
unique_fips = [x for x in fips if not(x in seen or seen_add(x))]
fips_to_index = {fips: idx for idx, fips in enumerate(unique_fips)}"""

"fips = raw_data['fips'].tolist()\nseen = set()\nseen_add = seen.add\nunique_fips = [x for x in fips if not(x in seen or seen_add(x))]\nfips_to_index = {fips: idx for idx, fips in enumerate(unique_fips)}"

In [3]:
raw_data['date_index'] = raw_data.apply(lambda row: date_to_index[row['date']], axis=1)
raw_data['fips_index'] = raw_data.apply(lambda row: int(row['fips']), axis=1)
print(raw_data['fips_index'])

0         53061
1         53061
2         53061
3         17031
4         53061
          ...
376329    56037
376330    56039
376331    56041
376332    56043
376333    56045
Name: fips_index, Length: 372548, dtype: int64

In [4]:
cols = ['date_index', 'fips_index', 'cases', 'deaths']
data = raw_data[cols]
data

        date_index  fips_index  cases  deaths
0                0       53061      1       0
1                1       53061      1       0
2                2       53061      1       0
3                3       17031      1       0
4                3       53061      1       0
...            ...         ...    ...     ...
376329         188       56037    221       2
376330         188       56039    292       1
376331         188       56041    235       0
376332         188       56043     44       5
376333         188       56045      5       0

[372548 rows x 4 columns]

In [5]:
data.to_csv('processed_cases.csv', index=False, header=False)

In [3]:
df = pd.read_csv('Average_Household_Size_and_Population_Density_-_County.csv')
df

,FID,COUNTYNS,GEOID,ALAND,AWATER,NAME,State,B25010_001E,B25010_001M,B25010_002E,...,B01001_001E,B01001_001M,B01001_calc_PopDensity,created_user,created_date,last_edited_user,last_edited_date,B01001_calc_PopDensityM,SHAPE_Length,SHAPE_Area
0,1,161526,1001,1539602123,25706961,Autauga County,Alabama,2.59,0.05,2.59,...,55200,NaN,35.853419,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,2.066037,0.150256
1,2,161527,1003,4117546676,1133055836,Baldwin County,Alabama,2.61,0.04,2.66,...,208107,NaN,50.541504,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,4.483746,0.409904
2,3,161528,1005,2292144655,50538698,Barbour County,Alabama,2.49,0.07,2.44,...,25782,NaN,11.247981,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,2.695262,0.223270
3,4,161529,1007,1612167481,9602089,Bibb County,Alabama,2.99,0.14,3.05,...,22527,NaN,13.973114,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,1.887514,0.156473
4,5,161530,1009,1670103911,15015423,Blount County,Alabama,2.77,0.05,2.85,...,57645,NaN,34.515816,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,2.423552,0.164405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3216,1804553,72145,118777649,57795019,Vega Baja Municipio,Puerto Rico,2.93,0.09,2.93,...,53371,NaN,449.335380,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,0.485650,0.010381
3216,3217,1804554,72147,131541395,552192819,Vieques Municipio,Puerto Rico,3.55,0.38,3.03,...,8771,NaN,66.678630,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,0.675819,0.012181
3217,3218,1804555,72149,92298569,3622639,Villalba Municipio,Puerto Rico,2.96,0.10,3.09,...,22993,NaN,249.115455,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,0.431598,0.008189
3218,3219,1804556,72151,143005179,72592521,Yabucoa Municipio,Puerto Rico,2.91,0.10,2.90,...,34149,NaN,238.795547,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,0.676628,0.012229
3219,3220,1804557,72153,175371916,1625259,Yauco Municipio,Puerto Rico,3.35,0.12,3.46,...,36439,NaN,207.781273,esri_demographics,2020/04/01 20:53:36,esri_demographics,2020/04/01 20:53:36,0.0,0.717627,0.015087

In [7]:
house_size = {}
pop_dens = {}
total_pop = {}
for i in range(len(df)):
    house_size[df.loc[i, 'GEOID']] = df.loc[i, 'B25010_001E']
    pop_dens[df.loc[i, 'GEOID']] = df.loc[i, 'B01001_calc_PopDensity']
    total_pop[df.loc[i, 'GEOID']] = df.loc[i, 'B01001_001E']

In [8]:
unique_fips = list(house_size.keys())

In [9]:
def see_if_fips_exists(row):
    exist = row['fips_index'] in unique_fips
    return int(exist)
data['exists'] = data.apply(see_if_fips_exists, axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
data = data[data['exists'] == 1]
data['house_size'] = data.apply(lambda row: house_size[row['fips_index']], axis=1)
data['pop_dens'] = data.apply(lambda row: pop_dens[row['fips_index']], axis=1)

data['total_pop'] = data.apply(lambda row: total_pop[row['fips_index']], axis=1)
data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,date_index,fips_index,cases,deaths,exists,house_size,pop_dens,total_pop
0,0,53061,1,0,1,2.68,145.560969,786620
1,1,53061,1,0,1,2.68,145.560969,786620
2,2,53061,1,0,1,2.68,145.560969,786620
3,3,17031,1,0,1,2.61,2134.420727,5223719
4,3,53061,1,0,1,2.68,145.560969,786620
...,...,...,...,...,...,...,...,...
376329,188,56037,221,2,1,2.74,1.633615,44117
376330,188,56039,292,1,1,2.42,2.227539,23059
376331,188,56041,235,0,1,2.63,3.822405,20609
376332,188,56043,44,5,1,2.33,1.402002,8129
376333,188,56045,5,0,1,2.20,1.143169,7100

In [13]:
data.columns

Index(['date_index', 'fips_index', 'cases', 'deaths', 'exists', 'house_size',
       'pop_dens', 'total_pop'],
      dtype='object')

In [15]:
cols = ['date_index', 'cases', 'house_size', 'pop_dens', 'total_pop', 'deaths']
data = data[cols]
data.to_csv('processed_cases.csv', index=False, header=False)